@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-neue-montreal-bold: var(--font-neue-montreal-bold), monospace;
  --font-family-neue-montreal-medium: var(--font-neue-montreal-medium), monospace;
  --font-family-space-mono: var(--font-space-mono), monospace;
  --font-family-editorial-new-italic: var(--font-editorial-new-italic), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-neue-montreal-bold {
  font-family: var(--font-neue-montreal-bold), monospace;
}

.font-neue-montreal-medium {
  font-family: var(--font-neue-montreal-medium), monospace;
}

.font-space-mono {
  font-family: var(--font-space-mono), monospace;
}

.font-editorial-new-italic {
  font-family: var(--font-editorial-new-italic), serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-16.666%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  display: flex;
  will-change: transform;
}
